.button {
  flex-shrink: 0;
  width: 55px;
  height: var(--input-height);
  color: var(--color-wight);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  user-select: none;
  cursor: default;
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    background-color: transparent;

    &.theme--blue {
      transition-duration: var(--transition-duration);
    }

    &.theme--orange {
      transition-duration: var(--transition-duration);
    }

    &.theme--purple {
      transition-duration: var(--transition-duration);
    }

    &.theme--green {
      transition-duration: var(--transition-duration);
    }
  }
}