.button {
  flex-shrink: 0;
  width: 55px;
  height: var(--input-height);
  color: var(--color-wight);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  user-select: none;
  cursor: default;
  transition-duration: var(--transition-duration);

  &.theme--blue {
    background: var(--linear-gradient-theme-1);
  }

  &.theme--orange {
    background: var(--linear-gradient-theme-2);
  }

  &.theme--purple {
    background: var(--linear-gradient-theme-3);
  }

  &.theme--green {
    background: var(--linear-gradient-theme-4);
  }
}

@media (hover: hover) {
  .button:hover {
    &.theme--blue:hover {
      color: var(--radios-theme-color-blue-2);
      border-color: var(--radios-theme-color-blue-2);
      background-image: none;
      background-color: transparent;

    }

    &.theme--orange {
      color: var(--radios-theme-color-orange-1);
      border-color: var(--radios-theme-color-orange-1);
      background-image: none;
      background-color: transparent;
    }

    &.theme--purple {
      color: var(--radios-theme-color-purple-2);
      border-color: var(--radios-theme-color-purple-2);
      background-image: none;
      background-color: transparent;
    }

    &.theme--green {
      color: var(--radios-theme-color-green-1);
      border-color: var(--radios-theme-color-green-1);
      background-image: none;
      background-color: transparent;
    }

    &.theme--default {
      color: var(--color-dark);
      border-color: var(--color-dark);
      background-color: transparent;
    }
  }
}