.button {
  flex-shrink: 0;
  width: 55px;
  height: var(--input-height);
  color: var(--color-wight);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  user-select: none;
  cursor: default;
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: transparent;

    /*&.theme--blue {*/
    /*  color: var(--color-wight);*/
    /*  border-image: var(--linear-gradient-theme-1);*/
    /*  background-image: none;*/
    /*}*/

    /*&.theme--orange {*/
    /*  color: var(--color-wight);*/
    /*  border-image: var(--linear-gradient-theme-2);*/
    /*  background-image: none;*/
    /*}*/

    /*&.theme--purple {*/
    /*  color: var(--color-wight);*/
    /*  border-image: var(--linear-gradient-theme-3);*/
    /*  background-image: none;*/
    /*}*/

    /*&.theme--green {*/
    /*  color: var(--color-wight);*/
    /*  border-image: var(--linear-gradient-theme-4);*/
    /*  background-image: none;*/
    /*}*/
  }
}