.todo {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  /*max-height: 100vh;*/
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: var(--border);
  border-radius: 20px;
  box-shadow: 10px 10px 30px var(--color-gray-3);
  background-color: var(--color-wight);
  padding: 24px;
  transition-duration: calc(var(--transition-duration) * 2);

  &:has(.todo__list:not(:empty)) .todo__tabs-list {
    margin-bottom: 20px;
  }
}

.todo__title {
  text-align: center;
  font-size: 28px;
}

.todo__themes {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.todo__themes-radio {
  appearance: none;
  width: 25px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: calc(var(--transition-duration) * 3);
  margin: 0;

  &.theme--blue {
    background-image: var(--radios-theme-color-blue-gradient);
  }

  &.theme--orange {
    background-image: var(--radios-theme-color-orange-gradient);
  }

  &.theme--purple {
    background-image:  var(--radios-theme-color-purple-gradient);
  }

  &.theme--green {
    background-image:  var(--radios-theme-color-green-gradient);
  }

  &.theme--default {
    background-image: var(--color-theme-default);
    border: var(--border)
  }

  &:checked {
    scale: 1.2;
    box-shadow: 1px 3px 3px var(--color-wight-blue);
  }
}

.todo__info {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  align-items: center;
  font-weight: 600;
}

.todo__total-tasks  {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.todo__delete-all-button {
  border: none;
  border-radius: calc(var(--border-radius) * 3);
  background-color: transparent;
  cursor: default;
  padding: 5px 15px;
}

.todo__delete-all-button:not(.is-visible) {
  display: none;
}

.todo__tabs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  transition-duration: 0.3s;
}

.todo__tabs-item {
  display: flex;
}

.todo__tabs-toggle-button {
  position: relative;
  color: var(--color-gray-2);
  border: none;
  border-radius: calc(var(--border-radius) * 5);
  background-color: transparent;
  user-select: none;
  cursor: default;
  padding: 5px 15px;

  &.is-active {
    background-color: var(--color-gray-4);

    &::after {
      content: '';
      width: 52%;
      height: 2px;
      border: none;
      border-radius: 4px;
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50% 0;
      background-color: var(--color-dark);
    }

    &.theme--blue {
      background-color: var(--color-light-blue);
    }

    &.theme--orange {
      background-color: var(--color-light-orange);
    }

    &.theme--purple {
      background-color: var(--color-light-purple);
    }

    &.theme--green {
      background-color: var(--color-light-green);
    }

    &.theme--blue::after {
      background-image: var(--linear-gradient-theme-1);
    }

    &.theme--orange::after {
      background-image: var(--linear-gradient-theme-2);
    }

    &.theme--purple::after {
      background-image: var(--linear-gradient-theme-3);
    }

    &.theme--green::after {
      background-image: var(--linear-gradient-theme-4);
    }
  }
}

.todo__list {
  --listItemsRowGap: 10px;

  display: flex;
  flex-direction: column;
  row-gap: var(--listItemsRowGap);
  /*overflow-Y: auto;*/
  /*padding-top: 5px;*/
  /*padding-right: 2px;*/
  /*transition-duration: calc(var(--transition-duration) * 2);*/

  &:empty {
    display: none;
  }
}

.todo__priority {
  align-self: center;
  width: 100%;
  max-width: 210px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: var(--color-gray-2);
  border: var(--border);
  border-radius: 40px;
  background-color: transparent;
  padding: 7px;
}

.todo__priority-title {
  font-size: 16px;
  user-select: none;
}

.todo__priority-list {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.todo__empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-1);

  &:empty {
    display: none;
  }

  &:not(:empty) {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .todo {
    border: none;
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
  }

  .todo__priority {
    margin-top: auto;
  }
}

@media (hover: hover) {
  .todo__themes-radio:hover {
    translate: 0 -3px;
  }

  .todo__delete-all-button:hover {
    color: var(--color-gray-1);
  }

  .todo__tabs-toggle-button:hover {
    color: var(--color-gray-1);
  }
}
