.todo__item {
  /*height: var(--item-height);*/
  display: grid;
  grid-template-columns: 42px auto 40px 40px;
  grid-auto-rows: min-content;
  grid-template-areas:
          "checkbox label unwrap-button delete-button"
          "checkbox data unwrap-button delete-button";
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: transparent;
  transition-duration: calc(var(--transition-duration) * 2);
  will-change: translate, opacity;

  &.is-disappearing {
    opacity: 0;
    translate: 0 -75%;
    pointer-events: none;
    transition-duration: calc(var(--transition-duration) * 2);

    & ~ .todo__item {
      transform: translateY(calc((var(--item-height) + var(--listItemsRowGap) * 2) * -1));
      transition-delay: calc(var(--transition-duration) * 2);
    }
  }

  &:has(.todo__item-label.is-opening) .todo__item-unwrap-button svg {
    rotate: 180deg;
  }
}

.todo__item-checkbox {
  grid-area: checkbox;
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 4px;
  border: 1px solid var(--color-gray-2);
  align-self: center;
  justify-self: center;
  margin: 0;
  transition-duration: 0s;

  &:checked {
    border: none;
    background: url("../../icons/icon-checkbox.svg") center/75% no-repeat var(--color-dark);

    & + .todo__item-label {
      color: var(--color-gray-2);
      text-decoration: line-through;
    }
  }
}

.todo__item-label {
  grid-area: label;
  height: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  transition-duration: calc(var(--transition-duration) * 2);

  &.is-opening {
    white-space: normal;
    text-overflow: clip;
    overflow: clip;
    word-break: break-word;
  }
}

.todo__item-data {
  font-family: var(--font-family-date), sans-serif;
  font-size: 14px;
}

.todo__item-unwrap-button {
  grid-area: unwrap-button;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: default;
  padding: 0;

  & svg {
    width: 20px;
    aspect-ratio: 1;
    transition-duration: var(--transition-duration);
  }

  * {
    pointer-events: none;
  }
}

.todo__item-delete-button {
  position: relative;
  grid-area: delete-button;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  border: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  cursor: default;
  transition-duration: 0.2s;

  &::after {
    content: '';
    width: 1px;
    height: 70%;
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background-color: var(--color-gray-3);
  }

  & svg {
    scale: 1.7;
  }

  & svg g path:first-child,
  & svg g path:last-child {
    transition: all 1s ease;
    transform-origin: left;
    transition-duration: 0.5s;
  }

  &:active {
    scale: 1.03;
  }

  * {
    pointer-events: none;
  }
}

@media (hover: hover) {
  .todo__item:hover {
    translate: 0 -2px;
    box-shadow: 7px 7px 10px var(--color-gray-4);
  }

  .todo__item-unwrap-button:hover {
    background-color: var(--color-gray-4);
  }

  .todo__item-delete-button:hover {
    background-color: var(--color-gray-4);

    & svg g path:first-child {
      transform: rotate(-13deg) translate(7%, -1%);
    }

    & svg g path:last-child {
      transform: rotate(5deg) rotate(-5deg);
    }
  }
}

@keyframes lineThrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}