body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  text-box: trim-both cap alphabetic;
  background-color: var(--bg-color);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  transition-duration: var(--transition-duration);
}

.todo__title,
.todo__field-label,
.todo__add-new-task-button,
.todo__total-tasks,
.todo__delete-all-button,
.todo__empty-message {
  user-select: none;
}

:focus-visible {
  outline: 2px dashed var(--color-dark);
  outline-offset: 4px;
}

.todo {
  &.theme--blue {
    background-color: var(--bg-theme-1);
  }

  &.theme--orange {
    background-color: var(--bg-theme-2);
  }

  &.theme--purple {
    background-color: var(--bg-theme-3);
  }

  &.theme--green {
    background-color: var(--bg-theme-4);
  }
}

.todo__title {
  &.theme--blue {
    color: transparent;
    background-clip: text;
    background-image: var(--linear-gradient-theme-1);
    text-shadow: 0 0 7px var(--color-theme-blue-1);
  }

  &.theme--orange {
    color: transparent;
    background-clip: text;
    background-image: var(--linear-gradient-theme-2);
    text-shadow: 0 0 7px var(--color-theme-orange-1);
  }

  &.theme--purple {
    color: transparent;
    background-clip: text;
    background-image: var(--linear-gradient-theme-3);
    text-shadow: 0 0 7px var(--color-theme-purple-1);
  }

  &.theme--green {
    color: transparent;
    background-clip: text;
    background-image: var(--linear-gradient-theme-4);
    text-shadow: 0 0 7px var(--color-theme-green-1);
  }
}

.todo__field-input {
  &.theme--blue {
    border-color: var(--radios-theme-color-blue-2);
    /*transition-duration: var(--transition-duration);*/
  }

  &.theme--orange {
    border-color: var(--radios-theme-color-orange-1);
    /*transition-duration: var(--transition-duration);*/
  }

  &.theme--purple {
    /*transition-duration: var(--transition-duration);*/
    border-color: var(--radios-theme-color-purple-2);
  }

  &.theme--green {
    /*transition-duration: var(--transition-duration);*/
    border-color: var(--radios-theme-color-green-1);
  }
}

.button,
.todo__tabs-toggle-button::after,
.todo-item::after {
  &.theme--blue {
    background: var(--linear-gradient-theme-1);
  }

  &.theme--orange {
    background: var(--linear-gradient-theme-2);
  }

  &.theme--purple {
    background: var(--linear-gradient-theme-3);
  }

  &.theme--green {
    background: var(--linear-gradient-theme-4);
  }
}