:root {
  --font-family: "Inter", sans-serif;
  --font-family-date: 'MonoCondensedC', sans-serif;

  --bg-color: #f5f5f5;

  --color-wight: #fff;
  --color-black: #000;
  --color-dark: #2c2c2c;

  --color-gray-1: #b3b3b3;
  --color-gray-2: #757575;
  --color-gray-3: #d9d9d9;
  --color-gray-4: #e9e9e9;
  --color-gray-5: #f7f7f7;

  --color-orange: #e64b1e;
  --color-green: #10dd13;
  --color-yellow: #e4a12e;
  --color-red: #e2344f;
  --color-wight-blue: #e6ebf3;

  --border: 1px solid var(--color-gray-3);
  --border-radius: 8px;

  --input-height: 40px;
  --item-height: 46px;

  --text-box: trim-both cap alphabetic;

  --box-shadow-1: 2px 2px 2px var(--color-wight-blue) , 2px 2px 2px var(--color-wight-blue) inset;
  --box-shadow-2: 2px 2px 2px var(--color-wight-blue) , -2px -2px -2px var(--color-wight-blue);

  --transition-duration: 0.2s;
}