:root {
  --font-family: "Inter", sans-serif;
  --font-family-date: 'MonoCondensedC', sans-serif;

  --bg-color: #f5f5f5;
  --bg-theme-1: #f7f8ff;
  --bg-theme-2: #fcf7f7;
  --bg-theme-3: #fbf7fe;
  --bg-theme-4: #f8fcf9;

  --color-wight: #fff;
  --color-black: #000;
  --color-dark: #2c2c2c;
  --color-light-dark: rgba(44, 44, 44, 0.8);

  --color-gray-1: #b3b3b3;
  --color-gray-2: #757575;
  --color-gray-3: #d9d9d9;
  --color-gray-4: #e9e9e9;
  --color-gray-5: #f7f7f7;
  --color-gray-6: #f5f4f4;

  --color-orange: #e64b1e;
  --color-green: #10dd13;
  --color-yellow: #e4a12e;
  --color-red: #e2344f;
  --color-wight-blue: #a8caf0;

  --color-light-blue: #e0e3ee;
  --color-light-orange: #faf1eb;
  --color-light-purple: #e8e2ef;
  --color-light-green: #deebe2;

  --color-theme-default: linear-gradient(45deg, var(--color-wight), var(--color-gray-4));

  --color-theme-blue-1: #43cbff;
  --color-theme-blue-2: #0856cc;

  --color-theme-orange-1: #e83c3c;
  --color-theme-orange-2: #f2874e;

  --color-theme-purple-1: #941f90;
  --color-theme-purple-2: #b14cff;

  --color-theme-green-1: #4aac69;
  --color-theme-green-2: #64b98f;

  --radios-theme-color-blue-1: #43ffc3;
  --radios-theme-color-blue-2: #3a83f2;

  --radios-theme-color-orange-1: #f95b5b;
  --radios-theme-color-orange-2: #fdf61d;

  --radios-theme-color-purple-1: #4d2afa;
  --radios-theme-color-purple-2: #b14cff;

  --radios-theme-color-green-1: #4aac9a;
  --radios-theme-color-green-2: #00ff8c;

  --radios-theme-color-blue-gradient: linear-gradient(45deg, var(--radios-theme-color-blue-1), var(--radios-theme-color-blue-2));
  --radios-theme-color-orange-gradient: linear-gradient(45deg, var(--radios-theme-color-orange-1), var(--radios-theme-color-orange-2));
  --radios-theme-color-purple-gradient: linear-gradient(45deg, var(--radios-theme-color-purple-1), var(--radios-theme-color-purple-2));
  --radios-theme-color-green-gradient: linear-gradient(45deg, var(--radios-theme-color-green-1), var(--radios-theme-color-green-2));

  --linear-gradient-theme-1: linear-gradient(20deg, var(--color-theme-blue-1), var(--color-theme-blue-2));
  --linear-gradient-theme-2: linear-gradient(20deg, var(--color-theme-orange-1), var(--color-theme-orange-2));
  --linear-gradient-theme-3: linear-gradient(20deg, var(--color-theme-purple-1), var(--color-theme-purple-2));
  --linear-gradient-theme-4: linear-gradient(20deg, var(--color-theme-green-1), var(--color-theme-green-2));

  --border: 1px solid var(--color-gray-3);
  --border-radius: 8px;

  --input-height: 40px;
  --item-height: 73px;
  /*--workingAreaHeight: 250px;*/

  --text-box: trim-both cap alphabetic;

  --box-shadow-1: 2px 2px 2px var(--color-wight-blue) , 2px 2px 2px var(--color-wight-blue) inset;
  --box-shadow-2: 2px 2px 2px var(--color-wight-blue) , -2px -2px -2px var(--color-wight-blue);

  --transition-duration: 0.2s;
}